{% extends 'base.html' %}
{% block style %}
    <style>
    span{
        color: red;
    }
    </style>
{% endblock style %}
{% block scripts %}
    <link href="http://www.lingshi.com/templates/default/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="http://www.lingshi.com/templates/default/css/login.css" rel="stylesheet" type="text/css" />
{% endblock scripts %}
{% block body %}
    <div class="bg">

<div class="wrap">
<div class="crumbs">
  当前位置: <a href="http://www.lingshi.com/" title="中国零食网">首页</a> <code>&gt;</code> 用户中心    </div>







<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?acc1c6cb1acc353880abc3cd8764c366";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
document.domain = 'lingshi.com';
var back_act = "";


$(function(){
  $("#formUser").submit(function(e){
    if (register_web() == false) {
      return false;
    }
    e.preventDefault();
    var formArr = $(this).serializeArray();
    var formData = {};
    for (var i in formArr) {
      var item = formArr[i];
      formData[item.name] = item.value;
    };
    back_act = (back_act == '') ? encodeURIComponent(window.location.href) : encodeURIComponent(back_act);
    var url = this.action += '?back_act=' + back_act;
    $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      async : false,
      data:formData,
      success: function (data) {
        if (data.error != 1) {
          if (data.type == 'captcha') {
            $('#conform_captcha_notice').html(data.content);
            $('#conform_captcha_notice').style.display = "block";
          } else if (data.type == 'username') {
            $('#username_notice').html(data.content);
          }

        } else {
          window.parent.location.href= data.back_act;
        }
      }
    });
  });
});

</script>

<br />




        <script type="text/javascript">
          var user_name_empty = "请输入您的用户名！<br/>";
          var email_address_empty = "请输入您的电子邮件地址！<br/>";
          var email_address_error = "您输入的电子邮件地址格式不正确！<br/>";
          var new_password_empty = "请输入您的新密码！";
          var confirm_password_empty = "请输入您的确认密码！";
          var both_password_error = "您两次输入的密码不一致！";
        </script>
 <div class="content2">
      <div class="title">找回密码</div>
    <form action="{% url 'member:getpassword' %}" method="post" name="getPassword">
        {% csrf_token %}
         <div class="notice">
           <p class="txt1">请输入您注册的用户名和注册时填写的电子邮件地址</p>
{#           <p class="txt2">( 如果用户名为手机号码，则邮箱为139邮箱，例：185000000@139.com）</p>#}
         </div>
        <div style="margin-left: 350px; margin-top: 40px; font-size:15px;" >
            请输入您的用户名： <input type="text" name="username" placeholder="请输入您的注册邮箱/手机号">
            <span>
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>

        <div style="margin-left: 350px; margin-top: 60px; font-size:15px;">
            电子邮件地址： <input type="text" name="email" placeholder="请输入您的邮箱">
            <span>
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </div>
        <div style="margin-left: 500px; margin-top: 60px; font-size:20px;">
          <input type="submit" style="color: red">
        </div>

{#         <table style="margin-left:350px;" class="table mt18" cellspacing="0" cellpadding="0" border="0">#}
{#          <tbody>#}
{#          <tr>#}
{#          <td width="140" align="right">请输入你的用户名:</td>#}
{#          <td width="660" style="position:relative;"><input type="text" placeholder="邮箱 / 手机号" maxlength="30" value="" class="inputBg" name="user_name"></td>#}
{#          </tr>#}
{#          <tr>#}
{#            <td align="right">电子邮件地址</td>#}
{#            <td><input name="email" type="text" size="30" class="inputBg" /></td>#}
{#          </tr>#}
{#            <input type="hidden" name="act" value="send_pwd_email" />#}
{#            <tr>#}
{#                <td>#}
{#                   <input type="submit" name="submit" value="提 交" class="btn_submit" />#}
{#                </td>#}
{#            </tr>#}
{##}
{#</tbody>#}
{#         </table>#}

      </form>
      </div>
      </div>
          </div>

<br />

<div class="blank"></div>

<div class="clear"></div>
{% endblock body %}